<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1440404653325-ab127d49abc1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
</div>

    <%= link_to "Create a movie list", new_list_path, class: "btn btn-dark" %>

<div class="list-grid m-3">
    <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <% if list.photo.attached? %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url('<%= cl_image_path list.photo.key %>')">
      <% else %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url('<%= image_path 'list_background.jpg' %>')">
      <% end %>
        <%= list.name %>
        </div>
    <% end %>
  <% end %>
</div>
